body {
    margin: 0;
    overflow-y: hidden;
    background-color: whitesmoke;
}
.en {
    display: none;
}
.pt {
    display: block;
}
#btnPt {
    color: greenyellow;
}

h1, h2, h3, h4, h5 {
     font-family:'Bebas Neue', cursive;
}



/* MOBILE */
@media (orientation: portrait){

    figure {
    width: 100vw;
    height: auto;
    }
    #fotoGabi {
    position: fixed;
    top: 6vh;
    min-width: 100vw;
    max-width: 120vw;
    min-height: 75vh;
    image-resolution: 72dpi
    }
    header {
        position: fixed;
        width: 100vw;
        height: 6vh;
        top: 0px;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    h3 {
        font-size: 1.5em;
        margin: 0px;       
    }



    .menu {
        position: fixed;
        width: 100vw;
        height: 6vh;

        display: flex;
        flex-flow: column nowrap;
        

        border-top: 0.1rem darkslategray solid;
        background-color: whitesmoke;
    }
    .txt {
        margin-top: 0.8vh;
        margin-left: 35%;
        margin-bottom: 0px;
        font-size: 7vw;
    }
    .mais {
        position: absolute;
        top: 5%;
        left: 65vw;
    }
    #trabalhos{top: 76%;}#sobre{top: 82%; height: 18vh;}
    #contato{top: 88%; height: 18vh;}#lang{top: 94%;}
    

}
