body {
    margin: 0;
    overflow-y: hidden;
}
.EN {display: none;}



/* MOBILE */
@media (orientation: portrait){

    figure {
    width: 100vw;
    height: auto;
    }
    #fotoGabi {
    position: fixed;
    top: 4vh;
    min-width: 100vw;
    max-width: 120vw;
    min-height: 75vh;
    image-resolution: 72dpi
    }
    header {
        position: fixed;
        width: 100vw;
        height: 4vh;
        top: 0px;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    h3 {
        font-size: 1em;       
    }



    .menu {
        position: fixed;
        width: 100vw;
        height: 6vh;

        display: flex;
        flex-flow: column nowrap;
        

        border-top: 0.1rem darkslategray solid;
        background-color: whitesmoke;
    }
    .txt {
        margin-top: 0.8vh;
        margin-left: 20%;
        margin-bottom: 0px;
        font-size: 6vw;
    }
    .mais {
        position: absolute;
        left: 70vw;
    }
    #trabalhos{top: 76%;}#sobre{top: 82%; height: 18vh;}
    #contato{top: 88%; height: 18vh;}#lang{top: 94%;}
    

}
